@model Lot

<form method="post">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-dark">Delete Lot</h2>
            <hr />
        </div>
        <div asp-validation-summary="ModelOnly"></div>

        <div class="mb-3 row p-1">
            <label asp-for="Name" class="p-0"></label>
            <input asp-for="Name" class="form-control" disabled />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Description" class="p-0"></label>
            <input asp-for="Description" class="form-control" disabled />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Visibility" class="p-0"></label>
            <input asp-for="Visibility" class="form-control" disabled />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="State" class="p-0"></label>
            <input asp-for="State" class="form-control" disabled />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="IncrementValue" class="p-0"></label>
            <input asp-for="IncrementValue" class="form-control" disabled />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="InitialValue" class="p-0"></label>
            <input asp-for="InitialValue" class="form-control" disabled />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="FinalValue" class="p-0"></label>
            <input asp-for="FinalValue" class="form-control" disabled />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="QueueTime" class="p-0"></label>
            <input asp-for="QueueTime" class="form-control" disabled />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="DateSale" class="p-0"></label>
            <input asp-for="DateSale" class="form-control" disabled />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="DateAdded" class="p-0"></label>
            <input asp-for="DateAdded" class="form-control" disabled />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="AucionId" class="p-0"></label>
            <input asp-for="AucionId" class="form-control" disabled />
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger form-control">Delete</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Lot" asp-action="Index" class="btn btn-outline-secondary form-control">
                    Back to List
                </a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}