@model Lot

<form method="post">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-dark">Edit Lot</h2>
            <hr />
        </div>
        <div asp-validation-summary="ModelOnly"></div>

        <div class="mb-3 row p-1">
            <label asp-for="Name" class="p-0"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Description" class="p-0"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Visibility" class="p-0"></label>
            <input asp-for="Visibility" class="form-control" />
            <span asp-validation-for="Visibility" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="State" class="p-0"></label>
            <select asp-for="State" class="form-control">
                <option value="@((int)LotState.AvailableForAuction)">Available for auction</option>
                <option value="@((int)LotState.AlreadyInAuction)">Already in auction</option>
                <option value="@((int)LotState.UnderVerification)">Under verification</option>
                <option value="@((int)LotState.Sold)">Sold</option>
            </select>
            <span asp-validation-for="State" class="text-danger"></span>
        </div>


        <div class="mb-3 row p-1">
            <label asp-for="IncrementValue" class="p-0"></label>
            <input asp-for="IncrementValue" class="form-control" />
            <span asp-validation-for="IncrementValue" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="InitialValue" class="p-0"></label>
            <input asp-for="InitialValue" class="form-control" />
            <span asp-validation-for="InitialValue" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="FinalValue" class="p-0"></label>
            <input asp-for="FinalValue" class="form-control" />
            <span asp-validation-for="FinalValue" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="QueueTime" class="p-0"></label>
            <input asp-for="QueueTime" class="form-control" />
            <span asp-validation-for="QueueTime" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="DateSale" class="p-0"></label>
            <input asp-for="DateSale" class="form-control" />
            <span asp-validation-for="DateSale" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="DateAdded" class="p-0"></label>
            <input asp-for="DateAdded" class="form-control" readonly />
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-dark form-control">Update</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Lot" asp-action="Index" class="btn btn-outline-secondary form-control">
                    Back to List
                </a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}