@model List<Lot>

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-dark">
                Lot List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Lot" asp-action="Upsert" class="btn btn-dark">
                <i class="bi bi-plus-circle"></i> Create New Lot
            </a>
        </div>
    </div>

    <table id="tblData" class="" style="width:100%">
        <thead>
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Visibility</th>
                <th class="text-center">State</th>
                <th class="text-center">Increment Value</th>
                <th class="text-center">Initial Value</th>
                <th class="text-center">Final Value</th>
                <th class="text-center">Queue Time</th>
                <th class="text-center">Date of Sale</th>
                <th class="text-center">Date of Creation</th>
                <th class="text-center">Auction</th>
                <th></th>
            </tr>
        </thead>
    </table>

</div>

@section Scripts{
    <script src="~/js/lot.js"></script>
}