@model IEnumerable<Auction>

<div class="row pb-3">
    @foreach (var obj in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-10 p-1">
                    <div class="card border-0 p-3 shadow  border-top border-5 rounded"> 
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark text-center">@obj.Name</p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center mb-0">
                                    @obj.StartDate
                                </p>
                            </div>
                            <div class="pl-1">
                                <div class="text-dark text-center">
                                    @Html.Raw(obj.Description)
                                </div>
                            </div>
                        </div>
                        <div class="pt-3">
                            <a asp-action="Details" asp-route-id="@obj.Id" 
                                class="btn btn-secondary border-0 form-control">
                                Details
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>