@model Auction

<form method="post">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-dark">Delete Auction</h2>
            <hr />
        </div>
        <div asp-validation-summary="ModelOnly"></div>
        
        <div class="mb-3 row p-1">
            <label asp-for="Name" class="p-0"></label>
            <input asp-for="Name" class="form-control" disabled />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Description" class="p-0"></label>
            <textarea asp-for="Description" class="form-control" disabled></textarea>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="AutomaticInitialization" class="col-form-label col-3"></label>
            <div class="form-check form-switch">
                <input asp-for="AutomaticInitialization" type="checkbox" class="form-check-input" disabled/>
            </div>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="StartDate" class="p-0"></label>
            <input asp-for="StartDate" class="form-control" disabled />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="EndDate" class="p-0"></label>
            <input asp-for="EndDate" class="form-control" disabled />
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger form-control">Delete</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Auction" asp-action="Index" class="btn btn-outline-secondary form-control">
                    Back to List
                </a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}